 <div class="wrapper wrapper-content animated fadeInRight">
   <div class="row">
    <div class="col-lg-6">
       <div class="panel panel-primary">
          <div class="panel-heading">
            <h2>Editing Task</h2>
          </div>
          <div class="panel-body">
             <%= render 'form', :locals => {:action => "Edit Task"} %>
          </div>
           <div class="panel-footer">
                <%= link_to 'Show', @task %> |
                <%= link_to 'Back', tasks_path, class: "btn btn-sm btn-white" %>
            </div>
        </div>  
    </div>
</div>
</div>